{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 150,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./assets/css/custom.css",
  "tailwindConfig": "./tailwind.config.js"
}
