---
layout: default
---

{% include components/navigation.html %}
<div class="mx-auto max-w-screen-2xl selection:bg-primary-low-contrast selection:text-neutral-100">
  {% include sections/hero/hero.html %}
  <main class="mb-40">
    <section id="about">
      {% include sections/about.html %}
    </section>
    <section id="experience">
      {% include sections/experience/experience.html %}
    </section>
    <div class="pt-24 md:px-20">
      <section id="case-studies">
        {% include sections/case-studies.html %}
      </section>
    </div>
    <div class="pt-24 md:px-20">
      <section id="call-to-action">
        {% include sections/call-to-action.html %}
      </section>
    </div>
  </main>
  {% include sections/footer.html %}
</div>