---
layout: default
---

{% include header.html %}
<main class="mb-10">
  <div class="px-7 pt-24 md:px-20">
    {% assign services = site.data.services %}
    <div id="services" class="scroll-reveal-hidden grid gap-10 sm:grid-cols-2 xl:grid-cols-4">
      {% for service in services.services %} {% include service.html %} {% endfor %}
    </div>
  </div>
  <div class="px-7 pt-24 md:px-20">
    <div id="experience">
      <h3 class="mb-7 text-xsm font-bold tracking-wider text-neutral-300">{{ "Selected Experience" | upcase }}</h3>
      <div class="positions-wrapper"> {% include positions.html %} </div>
    </div>
  </div>
  <div class="px-7 pt-24 md:px-20">
    <div id="featured" class="max-w-screen-md">
      <h3 class="mb-7 text-xsm font-bold tracking-wider text-neutral-300">{{ "Featured" | upcase }}</h3>
      {% assign awards = site.data.awards %}
      <div class="awards-wrapper relative"> {% for award in awards.awards %} {% include award.html %} {% endfor %} </div>
      {% assign featured = site.data.featured %}
      <div class="featured-wrapper"> {% for feature in featured.featured %} {% include feature.html %} {% endfor %} </div>
    </div>
  </div>
  <div class="px-7 pt-24 md:px-20 overflow-hidden">
    {% assign projects = site.data.projects %}
    <div id="projects">
      <h3 class="mb-7 text-xsm font-bold tracking-wider text-neutral-300">{{ "Selected Projects" | upcase }}</h3>
      <div class="projects-wrapper flex snap-x snap-mandatory scroll-pl-2 overflow-scroll overflow-y-visible">
        {% for project in projects.projects %} {% include project.html %} {% endfor %}
      </div>
    </div>
  </div>
  <div class="px-7 py-24 md:px-20">
    {% include call-to-action.html %}
  </div>
</main>
{% include footer.html %}
