---
layout: default
---

{% include header.html %}
<main class="mb-10">
  <div class="px-7 pt-24 md:px-20">
    <div id="intro">
      <div class="skeleton h-svh w-full">Intro</div>
    </div>
  </div>
  <div class="px-7 pt-24 md:px-20">
    <div id="bento">
      <div class="skeleton h-96 w-full">Bento</div>
    </div>
  </div>
  <div class="px-7 pt-24 md:px-20">
    <div id="case-studies">
      <div class="skeleton h-72 w-full">Case Studies</div>
    </div>
  </div>
  <div class="px-7 pt-24 md:px-20">
    <div id="process">
      <div class="skeleton h-96 w-full">Process</div>
    </div>
  </div>
  <div class="px-7 pt-24 md:px-20">
    <div id="faqs">
      <div class="skeleton h-64 w-full">FAQs</div>
    </div>
  </div>
  <div class="px-7 pt-24 md:px-20">
    <div id="philosophy">
      <div class="skeleton h-64 w-full">Philosophy</div>
    </div>
  </div>
  <div class="px-7 pt-24 md:px-20">
    <div id="contact">
      <div class="skeleton h-48 w-full">Contact</div>
    </div>
  </div>
</main>
{% include footer.html %}
