<div id="navbar" class="navbar fixed top-0 z-50 backdrop-blur-sm transition ease-in-out motion-reduce:transition-none">
  <div class="navbar-start">
    <a href="{{ site.url }}#hero" id="logo" class="px-6">
      <span class="sr-only">Go to hero section</span>
      {% include svg/logo.svg classes="fill-neutral-100 h-5 w-auto" %}
    </a>
    <div id="desktop-menu" class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        {% include sections/navigation/links.html %}
      </ul>
    </div>
  </div>
  <div class="navbar-end">
    <div id="mobile-menu" class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <span class="sr-only">Navigation menu</span>
        <i class="ri-menu-line text-lg"></i>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        {% include sections/navigation/links.html %}
      </ul>
    </div>
  </div>
</div>

<!-- Deferred scripts -->
<script type="text/javascript" src="{{ site.url }}/assets/js/default.js"></script>
<noscript>
  <style>
      #navigation {
        background-color: var(--fallback-b1,oklch(var(--b1)/0.75));
        .backdrop-blur-sm {
          --tw-backdrop-blur: blur(4px);
          -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
        }
      }
  </style>
</noscript>