<div id="navbar" class="navbar fixed top-0 z-50 backdrop-blur-sm transition ease-in-out motion-reduce:transition-none">
  <div class="navbar-start">
    <a href="/" id="logo" class="px-7">
      {% include svg/logo.svg classes="fill-neutral-100 h-5 w-auto" %}
    </a>
    <div id="desktop-menu" class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        {% include sections/navigation/links.html %}
      </ul>
    </div>
  </div>
  <div class="navbar-end">
    <div class="lg:tooltip lg:tooltip-left" data-tip="Toggle light/dark mode">
      <button class="btn btn-ghost btn-circle">
        <span class="sr-only">Toggle light/dark mode</span>
        <i class="ri-moon-fill text-lg"></i>
      </button>
    </div>
    <div id="mobile-menu" class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <i class="ri-menu-line text-lg"></i>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        {% include sections/navigation/links.html %}
      </ul>
    </div>
  </div>
</div>
