{% assign about = site.data.about %}
<div class="hero min-h-svh relative justify-start px-7 md:px-40">
    <div class="p-0 max-w-screen-md">
        <h2 class="text-3xl md:text-5xl font-semibold leading-snug text-pretty mb-5">{{ about.title }}</h2>
        <p class="text-pretty text-neutral-200 leading-loose mb-12">{{ about.text }}</p>
        <div class="mb-5">
            <label class="text-xsm font-bold tracking-wider text-neutral-300 block mb-3 uppercase">Experience in</label>
            <ul class="mb-5">
                {% for industry in about.industries %}
                <li class="badge badge-outline bg-base-100 border-base-300 border p-4 mb-1">{{ industry }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-5">
            <label class="text-xsm font-bold tracking-wider text-neutral-300 block mb-3 uppercase">Core Interests</label>
            <ul class="mb-5">
                {% for interest in about.interests %}
                <li class="badge badge-outline bg-base-100 border-base-300 border p-4 mb-1">{{ interest }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-5">
            <label class="text-xsm font-bold tracking-wider text-neutral-300 block mb-3 uppercase">Preferred Tech Stack*</label>
            <ul class="mb-5">
                {% for skill in about.skills %}
                <li class="badge badge-outline bg-base-100 border-base-300 border px-5 py-4 mb-1">{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
        <p class="text-sm text-neutral-200">*With a proven ability to quickly adapt to new tools.</p>
    </div>
    <div id="hero-deco" aria-hidden="true" class="w-full h-full absolute top-0 right-0 overflow-hidden pointer-events-none">
        {% include svg/grid.svg classes="absolute -z-50 bottom-0 right-0" %}
    </div>
</div>
