<div class="grid grid-cols-1 lg:grid-cols-3 grid-rows-auto gap-4">
    <div>
        <div class="card bg-base-100 rounded-none w-full h-full min-h-96 border-2 border-base-300">
            <div class="card-body">
                <h2 class="font-semibold text-2xl mb-3">Proven record of success</h2>
                <p>Experience from MVPs to microservices</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card bg-base-100 rounded-none w-full h-full min-h-96 border-2 border-base-300">
            <div class="card-body">
                <div class="justify-center flex gap-5 pt-16 pb-6">
                    <i class="ri-code-fill text-4xl text-neutral-300"></i>
                    <i class="ri-flashlight-fill text-4xl text-neutral-300"></i>
                    <i class="ri-lock-2-fill text-4xl text-neutral-300"></i>
                </div>
                <h2 class="font-semibold text-2xl mb-3">Scalable, fast, secure systems</h2>
                <p><b>Backend-first developer</b> with a passion for system design, security, & optimization</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card bg-base-100 rounded-none w-full h-full min-h-96 border-2 border-base-300">
            <div class="card-body">
                <div class="mockup-browser bg-base-300 m-4">
                    <div class="mockup-browser-toolbar">
                        <div class="input"></div>
                    </div>
                    <div class="bg-base-200 flex justify-center px-4 py-16">Hello!</div>
                </div>
                <h2 class="font-semibold text-2xl mb-3">Sleek, responsive sites</h2>
                <p>Designing for speed, cross-browser support, accessibility, & SEO</p>
            </div>
        </div>
    </div>
    <div class="lg:col-span-2">
        <div class="card bg-base-100 rounded-none w-full h-full min-h-96 border-2 border-base-300">
            <div class="card-body">
                <h2 class="font-semibold text-2xl mb-3">Value-driven development</h2>
                <p>Seeing the business value and long-term impact of every dev choice</p>
            </div>
        </div>
    </div>
    <div class="lg:col-start-3">
        <div class="group theme-gradient hover:animate-gradient rounded-md p-0.5 shadow-card-shadow shadow-lg relative">
            <i
               class="ri-shining-fill opacity-0 group-hover:opacity-100 transition-opacity ease-in-out motion-reduce:transition-none absolute top-0 z-10 size-10 translate-x-[15px] stroke-base-100 stroke-[8px] text-award-sparkle"></i>
            <i
               class="ri-shining-fill opacity-0 group-hover:opacity-100 transition-opacity ease-in-out motion-reduce:transition-none absolute top-0 z-10 size-10 translate-y-[25px] stroke-base-100 stroke-[8px] text-award-sparkle"></i>
            <i
               class="ri-shining-fill opacity-0 group-hover:opacity-100 transition-opacity ease-in-out motion-reduce:transition-none absolute bottom-0 right-0 z-10 size-10 translate-y-[40px] stroke-base-100 stroke-[8px] text-award-sparkle"></i>
            <div class="card rounded-none bg-base-100 w-full h-full min-h-96">
                <div class="card-body">
                    {% include svg/award.svg classes="fill-award-icon size-32 h-full" %}
                    <h2 class="font-semibold text-2xl mb-3">Google Code-in<br>Grand Prize Winner</h2>
                    <p>Among 3,124 contestants from 77 countries. 1st winner in my country in 8 years since launch</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card bg-base-100 rounded-none w-full h-full min-h-96 border-2 border-base-300">
            <div class="card-body">
                <h2 class="font-semibold text-2xl mb-3">T-shaped skillset</h2>
                <p>Bringing an interdisciplinary approach to any role</p>
                <div class="flex flex-nowrap gap-2 justify-center">
                    <div class="flex flex-col flex-nowrap gap-2 justify-start">
                        <span class="text-sm text-neutral-200 text-center">Mobile</span>
                        <button class="btn btn-square">
                            <i class="text-neutral-300 text-xl ri-smartphone-line"></i>
                        </button>
                    </div>
                    <div class="flex flex-col flex-nowrap gap-2">
                        <span class="text-sm text-neutral-200 text-center">ML/AI</span>
                        <button class="btn btn-square">
                            <i class="text-neutral-300 text-xl ri-brain-2-fill"></i>
                        </button>
                        <button class="btn btn-square">
                        </button>
                    </div>
                    <div class="flex flex-col flex-nowrap gap-2">
                        <span class="text-sm text-neutral-200 text-center">Web</span>
                        <button class="btn btn-square">
                            <i class="text-neutral-300 text-xl ri-global-line"></i>
                        </button>
                        <button class="btn btn-square">
                        </button>
                        <button class="btn btn-square">
                        </button>
                        <button class="btn btn-square">
                        </button>
                    </div>
                    <div class="flex flex-col flex-nowrap gap-2">
                        <span class="text-sm text-neutral-200 text-center">PM</span>
                        <button class="btn btn-square">
                            <i class="text-neutral-300 text-xl ri-group-fill"></i>
                        </button>
                        <button class="btn btn-square">
                        </button>
                    </div>
                    <div class="flex flex-col flex-nowrap gap-2">
                        <span class="text-sm text-neutral-200 text-center">DevOps</span>
                        <button class="btn btn-square">
                            <i class="text-neutral-300 text-xl ri-settings-5-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-span-2">
        <div class="card bg-base-100 rounded-none w-full h-full min-h-96 border-2 border-base-300">
            <div class="card-body">
                <div class="h-full relative">
                    <div class="absolute w-full h-full flex justify-center items-center">
                        <div class="mx-auto w-80">
                            <div class="chat chat-start">
                                <div class="chat-bubble bg-base-200">
                                    <i class="ri-git-merge-fill"></i><i class="ri-question-mark"></i>
                                </div>
                            </div>
                            <div class="chat chat-end">
                                <div class="chat-bubble bg-base-300">
                                    <i class="ri-git-merge-fill"></i><i class="ri-check-fill"></i>
                                </div>
                            </div>
                            <div class="chat chat-start">
                                <div class="chat-bubble bg-base-200">
                                    :)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute w-full h-full flex justify-center items-center">
                        <div class="indicator">
                            <span class="indicator-item indicator-top indicator-end">
                                <i class="text-3xl text-neutral-200 ri-chat-smile-3-line"></i>
                            </span>
                            <span class="indicator-item indicator-middle indicator-start">
                                <i class="text-3xl text-neutral-200 ri-chat-smile-3-line"></i>
                            </span>
                            <div class="grid place-items-center">
                                <i class="text-7xl text-neutral-300 ri-global-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="font-semibold text-2xl mb-3">Open source enthusiast</h2>
                <p>Deep belief that collaboration builds a better world</p>
            </div>
        </div>
    </div>
</div>