<div class="grid grid-cols-1 lg:grid-cols-3 grid-rows-auto gap-4">
    <div>
        <div class="card bg-base-100 rounded-none w-full h-full border-2 border-base-300">
            <div class="card-body">
                <h2 class="card-title">Proven record of success</h2>
                <p>Experience from MVPs to microservices</p>
            </div>
            <figure>
                <img src="https://imgdaisyuicom/images/stock/photo-1606107557195-0e29a4b5b4aawebp"
                     alt="Shoes" />
            </figure>
        </div>
    </div>
    <div>
        <div class="card bg-base-100 rounded-none w-full h-full border-2 border-base-300">
            <div class="card-body">
                <h2 class="card-title">Scalable, fast, secure systems</h2>
                <p>Backend-first developer with a passion for system design, security, & optimization</p>
            </div>
            <figure>
                <img src="https://imgdaisyuicom/images/stock/photo-1606107557195-0e29a4b5b4aawebp"
                     alt="Shoes" />
            </figure>
        </div>
    </div>
    <div>
        <div class="card bg-base-100 rounded-none w-full h-full border-2 border-base-300">
            <div class="card-body">
                <h2 class="card-title">Sleek, responsive sites</h2>
                <p>Fast page loads</p>
                <p>Reponsiveness & cross-browser support</p>
                <p>WCAG accessibility checks</p>
                <p>SEO</p>
            </div>
            <figure>
                <img src="https://imgdaisyuicom/images/stock/photo-1606107557195-0e29a4b5b4aawebp"
                     alt="Shoes" />
            </figure>
        </div>
    </div>
    <div class="lg:col-span-2">
        <div class="card bg-base-100 rounded-none lg:card-side border-2 border-base-300">
            <div class="card-body">
                <h2 class="card-title">Value-driven development</h2>
                <p>Seeing the business value and long-term impact of every dev choice</p>
            </div>
            <figure>
                <img src="https://imgdaisyuicom/images/stock/photo-1494232410401-ad00d5433cfawebp"
                     alt="Album" />
            </figure>
        </div>
    </div>
    <div class="lg:col-start-3">
        <div class="card bg-base-100 rounded-none w-full h-full border-2 border-base-300">
            <div class="card-body">
                <h2 class="card-title">Google Code-in<br>Grand Prize Winner</h2>
                <p>Out of 3,124 contestants from 77 countries. 1st winner in my country in 8 years since launch</p>
            </div>
            <figure>
                <img src="https://imgdaisyuicom/images/stock/photo-1606107557195-0e29a4b5b4aawebp"
                     alt="Shoes" />
            </figure>
        </div>
    </div>
    <div>
        <div class="card bg-base-100 rounded-none w-full h-full border-2 border-base-300">
            <div class="card-body">
                <h2 class="card-title">T-shaped skillset</h2>
                <p>Interdisciplinary approach to any role</p>
            </div>
            <figure>
                <img src="https://imgdaisyuicom/images/stock/photo-1606107557195-0e29a4b5b4aawebp"
                     alt="Shoes" />
            </figure>
        </div>
    </div>
    <div class="lg:col-span-2">
        <div class="card bg-base-100 rounded-none lg:card-side border-2 border-base-300">
            <div class="card-body">
                <h2 class="card-title">Open source enthusiast</h2>
                <p>Deep belief that collaboration builds a better world <i class="ri-heart-line" aria-label="heart emoji"></i></p>
            </div>
            <figure>
                <img src="https://imgdaisyuicom/images/stock/photo-1494232410401-ad00d5433cfawebp"
                     alt="Album" />
            </figure>
        </div>
    </div>
</div>