<h2 class="px-7 font-semibold text-3xl mb-7">Case Studies</h2>
<div class="flex flex-wrap">
    <div class="card border border-base-200 rounded-none w-full lg:w-1/2 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Card title!</h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions">
                <a>Read more</a>
            </div>
        </div>
    </div>
    <div class="card border border-base-200 rounded-none w-full lg:w-1/2 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Card title!</h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions">
                <a>Read more</a>
            </div>
        </div>
    </div>
    <div class="card border border-base-200 rounded-none w-full lg:w-1/2 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Card title!</h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions">
                <a>Read more</a>
            </div>
        </div>
    </div>
</div>