<div class="relative min-h-svh">
    <div class="flex flex-col w-full gap-5 md:px-7">
        <div class="w-full lg:w-[48%] self-start">
            <h2 class="font-semibold text-2xl mb-7">Professional Experience</h2>
            <div class="card bg-base-100 border border-base-200 mb-5">
                <div class="card-body">
                  <h2 class="flex flex-col text-base font-medium text-neutral-100">
                    <span>include.position.name</span>
                    <div class="inline-block">
                      <span class="group">
                        <a
                          href="include.position.url"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="include.position.text-color-class ease-in-out">
                          include.position.organization
                          <i
                            class="ri-arrow-right-up-line inline-block -translate-x-0.5 transition-transform ease-in-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 motion-reduce:transition-none"></i>
                        </a>
                      </span>
                    </div>
                  </h2>
                  <h6 class="flex flex-wrap text-xsm font-bold tracking-wider text-neutral-300">
                    <span class="pe-2">include.position.date | upcase</span>
                  </h6>
                  <ul class="my-6 block list-inside list-disc text-sm text-neutral-200">
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                  </ul>
                  <div class="tools text-xsm font-bold tracking-wider text-neutral-300">
                    <ul class="flex list-inside flex-wrap">
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="card bg-base-100 border border-base-200 mb-5">
                <div class="card-body">
                  <h2 class="flex flex-col text-base font-medium text-neutral-100">
                    <span>include.position.name</span>
                    <div class="inline-block">
                      <span class="group">
                        <a
                          href="include.position.url"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="include.position.text-color-class ease-in-out">
                          include.position.organization
                          <i
                            class="ri-arrow-right-up-line inline-block -translate-x-0.5 transition-transform ease-in-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 motion-reduce:transition-none"></i>
                        </a>
                      </span>
                    </div>
                  </h2>
                  <h6 class="flex flex-wrap text-xsm font-bold tracking-wider text-neutral-300">
                    <span class="pe-2">include.position.date | upcase</span>
                  </h6>
                  <ul class="my-6 block list-inside list-disc text-sm text-neutral-200">
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                  </ul>
                  <div class="tools text-xsm font-bold tracking-wider text-neutral-300">
                    <ul class="flex list-inside flex-wrap">
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-[48%] self-end">
            <h2 class="font-semibold text-2xl mb-7">Freelance Experience</h2>
            <div class="card bg-base-100 border border-base-200 mb-5">
                <div class="card-body">
                  <h2 class="flex flex-col text-base font-medium text-neutral-100">
                    <span>include.position.name</span>
                    <div class="inline-block">
                      <span class="group">
                        <a
                          href="include.position.url"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="include.position.text-color-class ease-in-out">
                          include.position.organization
                          <i
                            class="ri-arrow-right-up-line inline-block -translate-x-0.5 transition-transform ease-in-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 motion-reduce:transition-none"></i>
                        </a>
                      </span>
                    </div>
                  </h2>
                  <h6 class="flex flex-wrap text-xsm font-bold tracking-wider text-neutral-300">
                    <span class="pe-2">include.position.date | upcase</span>
                  </h6>
                  <ul class="my-6 block list-inside list-disc text-sm text-neutral-200">
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                  </ul>
                  <div class="tools text-xsm font-bold tracking-wider text-neutral-300">
                    <ul class="flex list-inside flex-wrap">
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="card bg-base-100 border border-base-200 mb-5">
                <div class="card-body">
                  <h2 class="flex flex-col text-base font-medium text-neutral-100">
                    <span>include.position.name</span>
                    <div class="inline-block">
                      <span class="group">
                        <a
                          href="include.position.url"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="include.position.text-color-class ease-in-out">
                          include.position.organization
                          <i
                            class="ri-arrow-right-up-line inline-block -translate-x-0.5 transition-transform ease-in-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 motion-reduce:transition-none"></i>
                        </a>
                      </span>
                    </div>
                  </h2>
                  <h6 class="flex flex-wrap text-xsm font-bold tracking-wider text-neutral-300">
                    <span class="pe-2">include.position.date | upcase</span>
                  </h6>
                  <ul class="my-6 block list-inside list-disc text-sm text-neutral-200">
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                    <li class="mb-3 md:mb-1 text-pretty">item.text</li>
                  </ul>
                  <div class="tools text-xsm font-bold tracking-wider text-neutral-300">
                    <ul class="flex list-inside flex-wrap">
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                      <li class="me-3 [&:not(:first-child)]:list-disc"> tool.name | upcase {% if tool.subtype %} (tool.subtype | upcase) {% endif %} </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div id="experience-deco" aria-hidden="true" class="w-full h-full absolute top-0 right-0 flex overflow-hidden pointer-events-none">
        {% include svg/grid.svg classes="absolute -z-50 top-0 right-0" %}
        {% include svg/aurora.svg classes="absolute -z-50 -top-96 -right-20" %}
    </div>
</div>