<div class="relative min-h-svh">
    <div class="flex flex-col w-full gap-5 md:px-7">
        <div class="w-full lg:w-[48%] self-start">
            <h2 class="font-semibold text-2xl mb-7">Professional Experience</h2>
            <div tabindex="0" class="collapse collapse-arrow bg-base-100 hover:bg-base-200 border border-base-200 mb-5">
                <input type="radio"
                       name="experience-accordion" />
                <div class="collapse-title text-xl font-medium">Click to open this one and close others</div>
                <div class="collapse-content">
                    <p>hello</p>
                </div>
            </div>
            <div tabindex="0" class="collapse collapse-arrow bg-base-100 hover:bg-base-200 border border-base-200 mb-5">
                <input type="radio"
                       name="experience-accordion" />
                <div class="collapse-title text-xl font-medium">Click to open this one and close others</div>
                <div class="collapse-content">
                    <p>hello</p>
                </div>
            </div>
            <div tabindex="0" class="collapse collapse-arrow bg-base-100 hover:bg-base-200 border border-base-200 mb-5">
                <input type="radio"
                       name="experience-accordion" />
                <div class="collapse-title text-xl font-medium">Click to open this one and close others</div>
                <div class="collapse-content">
                    <p>hello</p>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-[48%] self-end">
            <h2 class="font-semibold text-2xl mb-7">Freelance Experience</h2>
            <div tabindex="0" class="collapse collapse-arrow bg-base-100 hover:bg-base-200 border border-base-200 mb-5">
                <input type="radio"
                       name="experience-accordion" />
                <div class="collapse-title text-xl font-medium">Click to open this one and close others</div>
                <div class="collapse-content">
                    <p>hello</p>
                </div>
            </div>
            <div tabindex="0" class="collapse collapse-arrow bg-base-100 hover:bg-base-200 border border-base-200 mb-5">
                <input type="radio"
                       name="experience-accordion" />
                <div class="collapse-title text-xl font-medium">Click to open this one and close others</div>
                <div class="collapse-content">
                    <p>hello</p>
                </div>
            </div>
            <div tabindex="0" class="collapse collapse-arrow bg-base-100 hover:bg-base-200 border border-base-200 mb-5">
                <input type="radio"
                       name="experience-accordion" />
                <div class="collapse-title text-xl font-medium">Click to open this one and close others</div>
                <div class="collapse-content">
                    <p>hello</p>
                </div>
            </div>
        </div>
    </div>
    <div id="experience-deco" aria-hidden="true" class="overflow-hidden">
        {% include svg/grid.svg classes="absolute -z-50 top-0 right-0 pointer-events-none" %}
        {% include svg/aurora.svg classes="overflow-clip absolute -z-50 -top-96 -right-20 pointer-events-none mix-blend-hard-light" %}
    </div>
</div>