{% assign footer = site.data.footer %}
<footer class="flex flex-wrap px-7 pb-20 pt-24 md:px-20 border-t-2 border-base-200">
  <div>
    <div class="justify-between gap-10 pb-8 xl:flex xl:flex-row">
      <div class="mb-10 basis-1/5">
        {% include svg/logo.svg classes="fill-neutral-100 h-8 w-auto" %}
      </div>
      <div class="mb-10 basis-2/5">
        <h4 class="mb-2 text-xsm font-bold tracking-wider text-neutral-300">{{ "Attribution" | upcase }}</h4>
        <p class="text-sm text-neutral-300">{{ footer.attribution }}</p>
      </div>
      <div class="basis-2/5">
        <h4 class="mb-2 text-xsm font-bold tracking-wider text-neutral-300">{{ "Licensing" | upcase }}</h4>
        <p class="text-sm text-neutral-300">{{ footer.licensing }}</p>
      </div>
    </div>
    <div class="justify-between pt-5 xl:flex xl:flex-row">
      <p class="inline-block pb-5 text-xsm text-neutral-300">
        © {{ footer.year }} {{ footer.name }}. {{ footer.license }}.
      </p>
      <div class="mb-7 flex space-x-3">
        {% assign contact = site.data.contact %} {% for social-icon in contact.social-icons %} {% include components/social-icon.html %} {% endfor %}
      </div>
    </div>
  </div>
</footer>
