{% assign header = site.data.header %}
<header id="header" class="flex relative min-h-svh justify-start px-7 py-20 md:px-20 md:py-36">
  <div class="flex flex-col">
    <div class="grow">
      <h1 class="mb-3 block text-4xl font-semibold text-base-content sm:mb-5 sm:text-6xl">{{ header.title }}</h1>
      <h2 class="mb-12 text-2xl text-neutral-200 sm:text-3xl max-w-screen-md text-pretty">{{ header.subtitle }}</h2>
      <div class="mb-3 flex flex-wrap items-center justify-start sm:mb-5 gap-3">
        <div id="cta-button" class="group relative">
          <a
            href="mailto:{{ site.email }}"
            target="_blank"
            rel="license noopener noreferrer"
            class="relative inline-block cursor-pointer rounded-lg theme-gradient group-hover:animate-gradient p-px leading-6 text-btn-action-content transition-transform ease-in-out hover:scale-105 active:scale-95 motion-reduce:transition-none">
            <span class="relative block rounded-lg bg-btn-action px-6 py-3">
              <div class="relative flex items-center space-x-2">
                <span class="transition-transform duration-500 group-hover:translate-x-1 font-semibold text-sm">
                  Create <span class="hidden md:inline">your next idea</span> with me
                </span>
                <i class="ri-arrow-right-s-line transition-transform duration-500 group-hover:translate-x-1"></i>
              </div>
            </span>
          </a>
        </div>
        <button class="btn btn-outline bg-base-100 px-6 py-4">Download résumé</button>
      </div>
      <div class="mb-20 flex space-x-3">
        {% assign contact = site.data.contact %} {% for social-icon in contact.social-icons %} {% include components/social-icon.html %} {% endfor %}
      </div>
    </div>
    <div class="stats stats-vertical divide-none divide-base-200 bg-transparent lg:stats-horizontal lg:divide-solid">
      <div class="stat ps-0">
        <div class="stat-value mb-2 text-3xl font-normal">15+</div>
        <div class="stat-title text-sm text-neutral-200"><i class="ri-verified-badge-line me-2"></i>Enterprise Web Apps</div>
      </div>
      <div class="stat ps-0 lg:ps-7">
        <div class="stat-value mb-2 text-3xl font-normal">Award-winning</div>
        <div class="stat-title text-sm text-neutral-200"><i class="ri-trophy-line me-2"></i>FAANG-recognized Developer</div>
      </div>
    </div>
  </div>
  <div id="header-deco" aria-hidden="true" class="w-full h-full absolute top-0 right-0 flex justify-end content-end overflow-hidden pointer-events-none">
    {% include svg/grid.svg classes="absolute -z-50 bottom-0 right-0" %}
    {% include svg/aurora.svg classes="absolute -z-30 -top-96 -right-20" %}
    {% include svg/portfolio-logo-header.svg classes="absolute -z-40 bottom-0 -right-20 w-[970px] h-[1px] overflow-visible mb-[640px]" %}
  </div>
</header>
