<ul class="timeline timeline-snap-icon timeline-compact timeline-vertical">
    <li>
        {% include components/process-stage.html %}
        <hr />
    </li>
    <li>
        <hr />
        {% include components/process-stage.html %}
        <hr />
    </li>
    <li>
        <hr />
        {% include components/process-stage.html %}
        <hr />
    </li>
    <li>
        <hr />
        {% include components/process-stage.html %}
        <hr />
    </li>
    <li>
        <hr />
        {% include components/process-stage.html %}
    </li>
</ul>