<a 
  href="{{ award.url }}"
  target="_blank"
  rel="noopener noreferrer"
  class="group relative block theme-gradient hover:animate-gradient mx-2 mb-5 rounded-md p-0.5 basis-0 grow">
  <i class="ri-shining-fill opacity-0 group-hover:opacity-100 transition-opacity ease-in-out motion-reduce:transition-none absolute top-0 z-10 size-10 translate-x-[15px] stroke-base-100 stroke-[8px] text-award-sparkle"></i>
  <i class="ri-shining-fill opacity-0 group-hover:opacity-100 transition-opacity ease-in-out motion-reduce:transition-none absolute top-0 z-10 size-10 translate-y-[25px] stroke-base-100 stroke-[8px] text-award-sparkle"></i>
  <i class="ri-shining-fill opacity-0 group-hover:opacity-100 transition-opacity ease-in-out motion-reduce:transition-none absolute bottom-0 right-0 z-10 size-10 translate-y-[40px] stroke-base-100 stroke-[8px] text-award-sparkle"></i>
  <div class="rounded-md bg-base-100 p-[32px]">
    {% include svg/award.svg classes="fill-award-icon size-32 me-2" %}
    <div class="award-text-wrapper">
      <h2 class="mb-2 text-base font-medium text-neutral-100">
        <span>{{ award.name }}</span>
        <span class="block">
          {{ award.competition }}
          <i class="ri-arrow-right-up-line inline-block -translate-x-0.5 transition-transform ease-in-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 motion-reduce:transition-none"></i>
        </span>
      </h2>
      <p class="my-3 text-sm text-neutral-200">
        {{ award.description }}
      </p>
    </div>
  </div>
</a>
