<div class="md:px-20 border-b-2 border-base-200">
    <h2 class="pt-24 px-7 md:px-0 font-semibold text-3xl md:text-5xl mb-7">Case Studies</h2>
    <div class="flex flex-col max-w-screen-lg">
        {% for work in site.works %}
        <div class="card rounded-none border-t-2 border-base-200 shadow-xl min-h-96">
            <div class="card-body my-12">
                <h3 class="card-title font-semibold leading-relaxed text-pretty mb-1">{{ work.title }}</h3>
                <p class="leading-loose text-pretty mb-5 text-neutral-200">{{ work.summary }}</p>
                <div class="flex flex-col lg:flex-row gap-5 mb-12">
                    <div class="basis-1/2">
                        <label class="text-left text-xsm font-bold tracking-wider text-neutral-300 block mb-2">{{ "Developed at" | upcase }}</label>
                        <p class="text-sm">{{ work.dev-at }}</p>
                    </div>
                    <div class="basis-1/2">
                        <label class="text-left text-xsm font-bold tracking-wider text-neutral-300 block mb-2">{{ "Tools" | upcase }}</label>
                        <p class="text-sm">{{ work.tools }}</p>
                    </div>
                </div>
                <div class="card-actions">
                    <a href="{{ work.url }}" class="btn btn-outline bg-base-100 px-6 py-4">Read case study</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
