<div class="md:px-20">
    <h2 class="pt-24 px-7 md:px-0 font-semibold text-3xl mb-7">Case Studies</h2>
    <div class="grid grid-cols-2 w-full border-t-2 border-l-2 border-base-200">
        <div class="card bg-base-100 rounded-none border-b-2 border-r-2 border-base-200 shadow-xl">
            <div class="card-body">
                <h3 class="card-title">Card title!</h3>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 rounded-none border-b-2 border-r-2 border-base-200 shadow-xl">
            <div class="card-body">
                <h3 class="card-title">Card title!</h3>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions">
                    <a>Read more</a>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 rounded-none border-b-2 border-r-2 border-base-200 shadow-xl">
            <div class="card-body">
                <h3 class="card-title">Card title!</h3>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions">
                    <a>Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>