<div class="award flex flex-wrap items-center mb-10">
    {% include svg/award.svg %}
    <div class="award-text-wrapper">
        <h2 class="text-base dark:text-musubi-100 flex flex-wrap divide-x dark:divide-musubi-100 mb-2">
            <span class="pe-2">{{ award.name }}</span>
            <span class="ps-2">
                <a href="{{ award.url }}" target="_blank" class="dark:text-sky-300 dark:hover:text-teal-200 ease-in-out transition motion-reduce:transition-none underline underline-offset-4">{{ award.competition }}</a>
            </span>
        </h2>
        <ul class="block text-sm list-disc list-inside dark:text-musubi-200 my-3">
            {% for item in award.description %}
                <li class="mb-3 md:mb-1">{{ item.text }}</item>
            {% endfor %}
        </ul>
    </div>
</div>