<div
    class="award award-shadow dark-gradient dark:light-gradient ease-in-out transition motion-reduce:transition-none rounded-lg p-1 mx-7 xl:mx-2 mb-10">
    {% include svg/sparkle.svg classes="fill-orange-200 dark:fill-orange-100 stroke-[8px] stroke-base-100 absolute size-10 z-40 top-0 translate-x-[5px]" %}
    {% include svg/sparkle.svg classes="fill-orange-200 dark:fill-orange-100 stroke-[8px] stroke-base-100 absolute size-10 z-40 top-0 left-0 translate-y-[30px]" %}
    {% include svg/sparkle.svg classes="fill-orange-200 dark:fill-orange-100 stroke-[8px] stroke-base-100 absolute size-10 z-40 bottom-0 right-0 translate-y-[40px]" %}
    <div
        class="flex flex-wrap items-center bg-base-200 rounded-lg p-5">
        {% include svg/award.svg classes="fill-sky-300 dark:fill-orange-100 size-32 me-2" %}
        <div class="award-text-wrapper">
            <h2
                class="text-base font-medium text-neutral-100 flex flex-wrap divide-x mb-2">
                <span class="pe-2">{{ award.name }}</span>
                <span class="ps-2">
                    <a href="{{ award.url }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="View {{ award.competition }} website in new tab"
                        class="text-primary dark:hover:text-musubi-100 ease-in-out transition motion-reduce:transition-none underline underline-offset-4">
                        {{ award.competition }}
                    </a>
                </span>
            </h2>
            <ul class="block text-sm list-disc list-inside text-neutral-200 my-3">
                {% for item in award.description %}
                <li class="mb-3 md:mb-1">{{ item.text }}</item>
                    {% endfor %}
            </ul>
        </div>
    </div>
</div>