<div class="px-7 md:px-20 pt-24 mb-40">
    <div id="call-to-action" class="relative -z-50 sm:text-center rounded-xl border-call-to-action-outline sm:border-2 border-dashed">
        <div class="sm:px-8 py-36">
            <h1 class="font-medium text-3xl sm:text-5xl text-base-content block mb-8">Create your next idea with me</h1>
            <div class="font-light text-sm sm:text-lg text-neutral-200 mb-14">
                <p class="mb-4">For freelance projects, I provide sliding scale pricing based on your specific needs and scope of requests.</p>
                <p>From a charity or open source project? I'm open to volunteering where possible. :)</p>
            </div>
            <div class="flex justify-center">
                <div class="relative group">
                    <a href="mailto:{{ site.email }}" title="Send me an email" target="_blank" rel="license noopener noreferrer"
                        class="cursor-pointer relative inline-block p-px leading-6 text-btn-action-content bg-btn-action rounded-full transition-transform ease-in-out motion-reduce:transition-none hover:scale-105 active:scale-95">
                        <span class="absolute inset-0 rounded-full theme-gradient p-[2px] opacity-0 motion-reduce:transition-none transition-opacity duration-500 group-hover:opacity-100"></span>
                        <span class="relative block px-6 py-3 rounded-full bg-btn-action">
                            <div class="relative flex items-center space-x-2">
                                <i class="ri-mail-ai-line transition-transform duration-500 group-hover:translate-x-1"></i>
                                <span class="transition-all duration-500 group-hover:translate-x-1">{{ site.email }}</span>
                            </div>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="-z-50 bg-icons bg-logo-icons"></div>
    </div>
</div>