{% assign footer = site.data.footer %}
<footer class="flex flex-wrap pt-24 pb-20 px-7 md:px-20">
    <div class="divide-y-2 divide-musubi-100 dark:divide-musubi-500">
        <div class="xl:flex xl:flex-row gap-10 justify-between pb-8">
            <div class="basis-1/5 mb-10">
                <img src="assets/images/footer.png" alt="Ase & Polar" class="size-32 rounded-full mb-2">
                <p class="text-base font-medium text-musubi-300 dark:text-musubi-100 mb-5">{{ footer.created-by }}</p>
            </div>
            <div class="basis-2/5 mb-10">
                <h3 class="text-xsm text-musubi-200 dark:text-musubi-300 font-bold tracking-wider mb-2">{{ "Attribution" | upcase }}</h3>
                <p class="text-sm text-musubi-200 dark:text-musubi-300">{{ footer.attribution }}</p>
            </div>
            <div class="basis-2/5">
                <h3 class="text-xsm text-musubi-200 dark:text-musubi-300 font-bold tracking-wider mb-2">{{ "Licensing" | upcase }}</h3>
                <p class="text-sm text-musubi-200 dark:text-musubi-300">{{ footer.licensing }}</p>
            </div>
        </div>
        <div class="xl:flex xl:flex-row justify-between pt-5">
            <p class="inline-block text-xsm text-musubi-200 dark:text-musubi-300 pb-5">
                © {{ footer.year }}
                <a
                  href="mailto:{{ site.email }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Send me an email"
                  class="underline underline-offset-4 text-musubi-200 hover:text-sky-500 dark:text-musubi-300 dark:hover:text-musubi-100">
                  {{ footer.name }}</a>
                {{ footer.additional }}
            </p>
            <div class="flex space-x-4 mb-7">
                {% for social-icon in contact.social-icons %}
                    {% include social-icon.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</footer>