{% assign footer = site.data.footer %}
<footer class="flex flex-wrap px-7 pb-20 pt-24 md:px-20">
  <div>
    <div class="justify-between gap-10 pb-8 xl:flex xl:flex-row">
      <div class="mb-10 basis-1/5">
        <img src="assets/images/footer.png" alt="Ase & Polar" class="mb-2 size-32 rounded-full" />
        <p class="mb-5 text-base font-medium text-neutral-100">{{ footer.created-by }}</p>
      </div>
      <div class="mb-10 basis-2/5">
        <h3 class="mb-2 text-xsm font-bold tracking-wider text-neutral-300">{{ "Attribution" | upcase }}</h3>
        <p class="text-sm text-neutral-300">{{ footer.attribution }}</p>
      </div>
      <div class="basis-2/5">
        <h3 class="mb-2 text-xsm font-bold tracking-wider text-neutral-300">{{ "Licensing" | upcase }}</h3>
        <p class="text-sm text-neutral-300">{{ footer.licensing }}</p>
      </div>
    </div>
    <div class="justify-between pt-5 xl:flex xl:flex-row">
      <p class="inline-block pb-5 text-xsm text-neutral-300">
        © {{ footer.year }}
        <a
          href="mailto:{{ site.email }}"
          target="_blank"
          rel="noopener noreferrer"
          title="Send me an email"
          class="text-neutral-300 underline underline-offset-4 hover:text-link-hover">
          {{ footer.name }}</a
        >
        {{ footer.additional }}
      </p>
      <div class="mb-7 flex space-x-3">
        {% assign contact = site.data.contact %} {% for social-icon in contact.social-icons %} {% include social-icon.html %} {% endfor %}
      </div>
    </div>
  </div>
</footer>
