<header id="about" class="text-center px-7 md:px-20 py-20 md:py-36">
    {% assign about = site.data.about %}
    <h1 class="text-4xl sm:text-6xl text-base-content block mb-3 sm:mb-5">{{ about.title }}</h1>
    <h2 class="text-sm sm:text-xl font-light text-neutral-200 mb-10">{{ about.tagline }}</h2>
    <div class="flex items-center justify-center mb-3 sm:mb-5">
        <div class="relative group">
            <a href="mailto:{{ site.email }}" target="_blank" rel="license noopener noreferrer"
                class="cursor-pointer relative inline-block p-px font-semibold leading-6 text-musubi-100 bg-musubi-400 rounded-xl transition-transform ease-in-out motion-reduce:transition-none hover:scale-105 active:scale-95">
                <span
                    class="absolute inset-0 rounded-xl theme-gradient p-[2px] opacity-0 motion-reduce:transition-none transition-opacity duration-500 group-hover:opacity-100"></span>
                <span class="relative z-10 block px-6 py-3 rounded-xl bg-musubi-600">
                    <div class="relative z-10 flex items-center space-x-2">
                        <span class="transition-all duration-500 group-hover:translate-x-1">
                            Create <span class="hidden md:inline">your next idea</span> with me
                        </span>
                        <svg class="w-6 h-6 transition-transform duration-500 group-hover:translate-x-1" data-slot="icon"
                            aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                                fill-rule="evenodd"></path>
                        </svg>
                    </div>
                </span>
            </a>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <span class="relative flex size-3 me-3">
            <span class="animate-ping absolute inline-flex size-full rounded-full bg-primary opacity-75"></span>
            <span class="relative inline-flex rounded-full size-3 bg-primary"></span>
        </span>
        <span class="text-xsm md:text-sm text-neutral-200">Open to global clients (Replies at UTC+8)</span>
    </div>
</header>