<nav class="sticky top-0 z-50 border-b-2 border-base-200 bg-base-100/75 py-5 backdrop-blur-sm">
  <div class="mx-auto max-w-screen-2xl">
    <div class="flex items-center justify-between px-7 md:px-20">
      <h1 id="nav-title" class="text-base font-medium text-neutral-100 opacity-0 transition ease-in-out motion-reduce:transition-none">
        <span class="theme-gradient bg-clip-text text-transparent">ase</span>@create-with-<3
      </h1>
      <div class="flex space-x-6">
        <div class="tooltip tooltip-bottom" data-tip="Toggle light/dark mode" aria-hidden="true">
          <button
            id="toggle-theme"
            data-toggle-theme="dark,light"
            data-act-class="ACTIVECLASS"
            class="group relative inline-block size-5"
            aria-label="Toggle light/dark mode">
            <i
              id="moon"
              class="ri-moon-fill inactive-theme-icon absolute top-0 size-5 text-neutral-300 transition ease-in-out group-hover:text-link-hover motion-reduce:transition-none"></i>
            <i
              id="sun"
              class="ri-sun-fill inactive-theme-icon absolute top-0 size-5 text-neutral-300 transition ease-in-out group-hover:text-link-hover motion-reduce:transition-none"></i>
          </button>
        </div>
        <div class="hidden space-x-3 sm:flex">
          {% assign contact = site.data.contact %} {% for social-icon in contact.social-icons %} {% include social-icon.html %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</nav>
