{% assign positions = site.data.experience.positions %}

<table class="table-fixed border-separate border-spacing-0 ms-2 mb-20">
  <thead>
    <tr>
      <th class="w-0 table-cell md:hidden"></th> <!-- Simplified git tree -->
      <th class="w-[25px] hidden md:table-cell"></th> <!-- Commit branches 1-2 of full git tree -->
      <th class="w-[25px] hidden md:table-cell"></th> <!-- Commit branches 2-3 of full git tree -->
      <th class="w-auto"></th> <!-- Text content -->
    </tr>
  </thead>

  <tbody>

    <tr class="relative">
      <td class="border-s-2 border-s-primary border-dashed table-cell md:hidden">
        <div class="circle-component circle-upper-left border-dashed border-primary"></div>
      </td>
      <td class="border-s-2 border-s-primary border-t-[1rem] border-t-primary-low-contrast border-dashed hidden md:table-cell">
        <div class="circle-component circle-upper-left border-dashed border-primary"></div>
      </td>
      <td class="border-t-[1rem] border-t-primary-low-contrast hidden md:table-cell">
      </td>
      <td>
        <div class="relative -top-2 ps-6 pb-8">
          <p class="text-base font-medium text-neutral-100">Currently open to freelance<i class="ri-global-line ms-2"></i></p>
        </div>
      </td>
    </tr>

    <tr class="relative">
      <td class="border-s-2 border-s-secondary table-cell md:hidden">
        <div class="circle-component circle-upper-left border-dashed border-secondary"></div>
      </td>
      <td class="border-s-2 border-s-primary border-dashed hidden md:table-cell">
      </td>
      <td
        class="border-s-2 border-s-secondary border-t-[1rem] border-t-secondary-low-contrast hidden md:table-cell">
        <div class="circle-component circle-upper-left border-dashed border-secondary"></div>
      </td>
      <td>
        {% assign alls = positions | where: "id", "alls" | first %}
        {% include position.html position=alls %}
      </td>
    </tr>

    <tr class="relative">
      <td class="border-s-2 border-s-primary table-cell md:hidden">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td
        class="border-s-2 border-s-primary border-t-[1rem] border-t-primary-low-contrast hidden md:table-cell">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td
        class="border-s-2 border-s-secondary border-t-[1rem] border-t-primary-low-contrast hidden md:table-cell">
      </td>
      <td rowspan="2">
        {% assign hkz-2024 = positions | where: "id", "hkz-2024" | first %}
        {% include position.html position=hkz-2024 %}
      </td>
    </tr>

    <tr class="relative">
      <td class="border-s-2 border-s-primary table-cell md:hidden">
      </td>
      <td
        class="border-t-2 border-t-accent border-s-2 border-s-primary hidden md:table-cell">
        <div
          class="circle-component circle-upper-left translate-x-[-11px] translate-y-[-9px] border-primary">
        </div>
      </td>
      <td
        class="rounded-tr-lg border-t-2 border-t-accent border-s-2 border-s-secondary border-e-2 border-e-accent hidden md:table-cell">
      </td>
    </tr>

    <tr class="relative">
      <td class="border-s-2 border-s-accent table-cell md:hidden">
        <div class="circle-component circle-upper-left border-accent"></div>
      </td>
      <td
        class="border-s-2 border-s-primary border-b-2 border-b-accent hidden md:table-cell">
      </td>
      <td
        class="rounded-br-lg border-s-2 border-s-secondary border-b-2 border-b-accent border-e-2 border-e-accent hidden md:table-cell">
        <div class="circle-component circle-upper-right border-accent"></div>
      </td>
      <td rowspan="2">
        {% assign cloudband = positions | where: "id", "cloudband" | first %}
        {% include position.html position=cloudband %}
      </td>
    </tr>

    <tr class="relative">
      <td class="border-s-2 border-s-accent table-cell md:hidden">
      </td>
      <td class="border-s-2 border-s-primary hidden md:table-cell">
        <div
          class="circle-component circle-upper-left translate-x-[-11px] translate-y-[-11px] border-primary">
        </div>
      </td>
      <td class="border-s-2 border-s-secondary hidden md:table-cell">
      </td>
    </tr>

    <tr class="relative">
      <td class="border-s-2 border-s-primary table-cell md:hidden">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td
        class="border-s-2 border-s-primary border-t-[1rem] border-t-primary-low-contrast hidden md:table-cell">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td
        class="border-s-2 border-s-secondary border-t-[1rem] border-t-primary-low-contrast hidden md:table-cell">
      </td>
      <td>
        {% assign hkz-2023 = positions | where: "id", "hkz-2023" | first %}
        {% include position.html position=hkz-2023 %}
      </td>
    </tr>

    <tr class="relative">
      <td class="border-s-2 border-s-primary table-cell md:hidden">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td
        class="border-s-2 border-s-primary border-t-[1rem] border-t-primary-low-contrast hidden md:table-cell">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td
        class="border-s-2 border-s-secondary border-t-[1rem] border-t-primary-low-contrast hidden md:table-cell">
      </td>
      <td>
        {% assign silid-aralan = positions | where: "id", "silid-aralan" | first %}
        {% include position.html position=silid-aralan %}
      </td>
    </tr>

    <tr class="relative">
      <td class="border-s-2 border-s-primary table-cell md:hidden">
        <div class="circle-component circle-bottom-left border-primary"></div>
      </td>
      <td
        class="border-s-2 border-s-primary border-b-[1rem] border-b-primary-low-contrast hidden md:table-cell">
        <div class="circle-component circle-bottom-left border-primary"></div>
      </td>
      <td
        class="border-b-[1rem] border-b-primary-low-contrast border-s-2 border-s-secondary hidden md:table-cell">
      </td>
      <td>
        <div class="relative -bottom-1.5 ps-6">
          <span class="group inline-block">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="../assets/attachments/Ase Morales - Full-stack Web Developer.pdf"
              title="View resume in new tab"
              class="font-medium text-primary-high-contrast ease-in-out transition motion-reduce:transition-none">
              View my resume
              <i class="ri-arrow-right-up-line inline-block -translate-x-0.5 group-hover:translate-x-0.5 group-hover:-translate-y-0.5 ease-in-out transition motion-reduce:transition-none"></i>
            </a>
          </span>
        </div>
      </td>
    </tr>

  </tbody>
</table>