{% assign positions = site.data.experience.positions %}

<table class="table-fixed mb-20">
  <thead>
    <tr>
      <th style="width: 30px;" class="hidden md:table-cell" ></th>
      <th style="width: 30px;" class="hidden md:table-cell"></th>
      <th style="width: auto;"></th>
    </tr>
  </thead>

  <tbody>

    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
        <div class="circle-upper-left"></div>
      </td>
      <td class="hidden md:table-cell">
      </td>
      <td>
        <div class="relative -top-3.5 ps-5 pb-16">
          Open to full-time work for Jan 2025 onwards
        </div>
      </td>
    </tr>

    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
        <div class="circle-upper-left"></div>
      </td>
      <td>
        {% assign alls = positions | where: "id", "alls" | first %}
        {% include position.html position=alls %}
      </td>
    </tr>

    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
        <div class="circle-upper-left"></div>
      </td>
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td>
        {% assign hkz-2024 = positions | where: "id", "hkz-2024" | first %}
        {% include position.html position=hkz-2024 %}
      </td>
    </tr>
    
    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
        <div class="circle-upper-left"></div>
      </td>
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td rowspan="2">
        <p class="relative -top-3.5 ps-5 pb-16">
          I graduated! :)
        </p>
      </td>
    </tr>
    
    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-t-2 border-x-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td class="border-t-2 border-x-2 border-musubi-100 hidden md:table-cell">
      </td>
    </tr>
    
    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-s-2 border-x-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td class="border-x-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td>
        <div class="circle-upper-left"></div>
        {% assign cloudband-2024 = positions | where: "id", "cloudband-2024" | first %}
        {% include position.html position=cloudband-2024 %}
      </td>
    </tr>
    
    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-x-2 border-b-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td class="border-x-2 border-b-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td rowspan="2">
        <div class="circle-upper-left"></div>
        {% assign cloudband-2023 = positions | where: "id", "cloudband-2023" | first %}
        {% include position.html position=cloudband-2023 %}
      </td>
    </tr>
    
    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-s-2 border-x-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
      </td>
    </tr>

    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
        <div class="circle-upper-left"></div>
      </td>
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td>
        {% assign hkz-2023 = positions | where: "id", "hkz-2023" | first %}
        {% include position.html position=hkz-2023 %}
      </td>
    </tr>

    <tr class="relative border-s-2 border-musubi-100 md:border-none">
      <td class="border-s-2 border-b-2 border-musubi-100 hidden md:table-cell">
        <div class="circle-bottom-left"></div>
      </td>
      <td class="border-s-2 border-musubi-100 hidden md:table-cell">
      </td>
      <td>
        <div class="ps-5">See my resume or full CV</div>
      </td>
    </tr>
    
  </tbody>
</table>
