{% assign positions = site.data.experience.positions %}

<table class="mb-20 ms-2 table-fixed border-separate border-spacing-0">
  <thead>
    <tr>
      <!-- Simplified git tree -->
      <th class="table-cell w-0 md:hidden"></th>
      <!-- Commit branches 1-2 of full git tree -->
      <th class="hidden w-[25px] md:table-cell"></th>
      <!-- Commit branches 2-3 of full git tree -->
      <th class="hidden w-[25px] md:table-cell"></th>
      <!-- Text content -->
      <th class="w-auto"></th>
    </tr>
  </thead>

  <tbody>
    <tr class="relative">
      <td class="table-cell border-s-2 border-dashed border-s-primary md:hidden">
        <div class="circle-component circle-upper-left border-dashed border-primary"></div>
      </td>
      <td class="hidden border-s-2 border-t-[1rem] border-dashed border-s-primary border-t-primary-low-contrast md:table-cell">
        <div class="circle-component circle-upper-left border-dashed border-primary"></div>
      </td>
      <td class="hidden border-t-[1rem] border-t-primary-low-contrast md:table-cell"> </td>
      <td>
        <div class="relative -top-2 pb-8 ps-6">
          <p class="text-base font-medium text-neutral-100">Currently open to freelance<i class="ri-global-line ms-2"></i></p>
        </div>
      </td>
    </tr>

    <tr class="relative">
      <td class="table-cell border-s-2 border-s-secondary md:hidden">
        <div class="circle-component circle-upper-left border-dashed border-secondary"></div>
      </td>
      <td class="hidden border-s-2 border-dashed border-s-primary md:table-cell"> </td>
      <td class="hidden border-s-2 border-t-[1rem] border-s-secondary border-t-secondary-low-contrast md:table-cell">
        <div class="circle-component circle-upper-left border-dashed border-secondary"></div>
      </td>
      <td> {% assign alls = positions | where: "id", "alls" | first %} {% include position.html position=alls %} </td>
    </tr>

    <tr class="relative">
      <td class="table-cell border-s-2 border-s-primary md:hidden">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td class="hidden border-s-2 border-t-[1rem] border-s-primary border-t-primary-low-contrast md:table-cell">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td class="hidden border-s-2 border-t-[1rem] border-s-secondary border-t-primary-low-contrast md:table-cell"> </td>
      <td rowspan="2"> {% assign hkz-2024 = positions | where: "id", "hkz-2024" | first %} {% include position.html position=hkz-2024 %} </td>
    </tr>

    <tr class="relative">
      <td class="table-cell border-s-2 border-s-primary md:hidden"> </td>
      <td class="hidden border-s-2 border-t-2 border-s-primary border-t-accent md:table-cell">
        <div class="circle-component circle-upper-left translate-x-[-11px] translate-y-[-9px] border-primary"> </div>
      </td>
      <td class="hidden rounded-tr-lg border-e-2 border-s-2 border-t-2 border-e-accent border-s-secondary border-t-accent md:table-cell"> </td>
    </tr>

    <tr class="relative">
      <td class="table-cell border-s-2 border-s-accent md:hidden">
        <div class="circle-component circle-upper-left border-accent"></div>
      </td>
      <td class="hidden border-b-2 border-s-2 border-b-accent border-s-primary md:table-cell"> </td>
      <td class="hidden rounded-br-lg border-b-2 border-e-2 border-s-2 border-b-accent border-e-accent border-s-secondary md:table-cell">
        <div class="circle-component circle-upper-right border-accent"></div>
      </td>
      <td rowspan="2"> {% assign cloudband = positions | where: "id", "cloudband" | first %} {% include position.html position=cloudband %} </td>
    </tr>

    <tr class="relative">
      <td class="table-cell border-s-2 border-s-accent md:hidden"> </td>
      <td class="hidden border-s-2 border-s-primary md:table-cell">
        <div class="circle-component circle-upper-left translate-x-[-11px] translate-y-[-11px] border-primary"> </div>
      </td>
      <td class="hidden border-s-2 border-s-secondary md:table-cell"> </td>
    </tr>

    <tr class="relative">
      <td class="table-cell border-s-2 border-s-primary md:hidden">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td class="hidden border-s-2 border-t-[1rem] border-s-primary border-t-primary-low-contrast md:table-cell">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td class="hidden border-s-2 border-t-[1rem] border-s-secondary border-t-primary-low-contrast md:table-cell"> </td>
      <td> {% assign hkz-2023 = positions | where: "id", "hkz-2023" | first %} {% include position.html position=hkz-2023 %} </td>
    </tr>

    <tr class="relative">
      <td class="table-cell border-s-2 border-s-primary md:hidden">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td class="hidden border-s-2 border-t-[1rem] border-s-primary border-t-primary-low-contrast md:table-cell">
        <div class="circle-component circle-upper-left border-primary"></div>
      </td>
      <td class="hidden border-s-2 border-t-[1rem] border-s-secondary border-t-primary-low-contrast md:table-cell"> </td>
      <td> {% assign silid-aralan = positions | where: "id", "silid-aralan" | first %} {% include position.html position=silid-aralan %} </td>
    </tr>

    <tr class="relative">
      <td class="table-cell border-s-2 border-s-primary md:hidden">
        <div class="circle-component circle-bottom-left border-primary"></div>
      </td>
      <td class="hidden border-b-[1rem] border-s-2 border-b-primary-low-contrast border-s-primary md:table-cell">
        <div class="circle-component circle-bottom-left border-primary"></div>
      </td>
      <td class="hidden border-b-[1rem] border-s-2 border-b-primary-low-contrast border-s-secondary md:table-cell"> </td>
      <td>
        <div class="relative -bottom-1.5 ps-6">
          <span class="group inline-block">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="../assets/attachments/Ase Morales - Full-stack Web Developer.pdf"
              class="font-medium text-primary-high-contrast transition ease-in-out motion-reduce:transition-none">
              View my resume
              <i
                class="ri-arrow-right-up-line inline-block -translate-x-0.5 transition ease-in-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 motion-reduce:transition-none"></i>
            </a>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
