<div class="position">
    <h5>{{ position.name }} | {{ position.organization }}</h5>
    <span>{{ position.date }} | {{ position.type }}</span>
    <ul>
        {% for item in position.description %}
            <item>{{ item.text }}</item>
        {% endfor %}
    </ul>
    <div class="tools">
        {% for tool in position.tools %}
            <span>
                {{ tool.name }}
                {% if tool.subtype %}
                    > {{ tool.subtype }}
                {% endif %}
            </span>
        {% endfor %}
    </div>
</div>
