<div class="project flex flex-col bg-gradient-to-r from-musubi-500 to-musubi-600 rounded-md min-w-48 snap-start p-5 mb-5">
    <h6 class="text-sm dark:text-sky-300 block flex flex-wrap divide-x dark:divide-sky-300 mb-2"><span class="pe-2">{{ project.field }}</span><span class="ps-2">{{ project.year }}</span></h6>
    <h2 class="text-base dark:text-musubi-100 mb-5">{{ project.name }}</h2>
    <p class="grow text-sm dark:text-musubi-200 mb-3">{{ project.description }}</p>
    <div class="tools text-xsm dark:text-musubi-300 font-semibold tracking-wider">
        <ul class="flex flex-wrap list-inside">
            {% for tool in project.tools %}
                <li class="[&:not(:first-child)]:list-disc me-3">
                    {{ tool.name | upcase }}
                    {% if tool.subtype %}
                        > {{ tool.subtype | upcase }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
