{% assign experience = site.data.experience %}
<div class="relative bg-aurora bg-right-top">
    <div class="max-w-screen-xl pt-24 md:px-20">
        <div class="flex flex-col lg:flex-row w-full gap-7 mb-7">
            <div class="basis-1/2">
                <h2 class="font-semibold text-3xl mb-7 px-7 md:px-0">Professional Experience</h2>
                {% for position in experience.professional %}
                    {% include sections/experience/position.html %}
                {% endfor %}
            </div>
            <div class="basis-1/2 pt-0 lg:pt-40">
                <h2 class="font-semibold text-3xl mb-7 px-7 md:px-0">Freelance and Volunteer Experience</h2>
                {% for position in experience.others %}
                    {% include sections/experience/position.html %}
                {% endfor %}
            </div>
        </div>
        <div class="text-center pb-20">
            <a href="https://drive.google.com/file/d/1mBQI6yHCSkJKOG4w68TbkS54A54Zei7b/view?usp=sharing"
               target="_blank"
               rel="noopener noreferrer"
               class="btn btn-outline bg-base-100">View resume</a>
        </div>
    </div>
    <div id="experience-deco"
         aria-hidden="true"
         class="w-full h-full absolute top-0 right-0 flex overflow-hidden pointer-events-none">
        {% include svg/grid.svg classes="absolute -z-50 bottom-0 right-0" %}
    </div>
</div>