{% assign experience = site.data.experience %}
<div class="relative bg-aurora bg-right-top">
    <div class="pt-32 md:mx-40">
        <div class="px-7 md:px-0">
            <h2 class="text-3xl md:text-5xl font-semibold leading-snug text-pretty mb-5">Strong technical growth & experience</h2>
            <p class="text-neutral-200 leading-loose mb-12 text-pretty">For full experience, <a href="https://drive.google.com/file/d/1mBQI6yHCSkJKOG4w68TbkS54A54Zei7b/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="underline underline-offset-4">view my resume here.</a></p>
        </div>
        <div class="flex flex-col lg:flex-row w-full gap-7 pb-40">
            <div class="basis-1/2">
                <h3 class="font-semibold text-2xl md:text-3xl mb-7 px-7 md:px-0">Professional Roles</h3>
                {% for position in experience.professional %}
                    {% include sections/experience/position.html %}
                {% endfor %}
            </div>
            <div class="basis-1/2 pt-0 lg:pt-40">
                <h3 class="font-semibold text-2xl md:text-3xl mb-7 px-7 md:px-0 text-pretty">Freelance and Volunteer Roles</h3>
                {% for position in experience.others %}
                    {% include sections/experience/position.html %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="experience-deco"
         aria-hidden="true"
         class="w-full h-full absolute top-0 right-0 flex overflow-hidden pointer-events-none">
        {% include svg/grid.svg classes="absolute -z-50 bottom-0 right-0" %}
    </div>
</div>