<div class="card rounded-none md:rounded-xl bg-base-100 border border-base-200 hover:border-base-300 mb-5">
  <div class="card-body">
    <h4 class="flex flex-col text-base font-semibold text-neutral-100 leading-relaxed">
      <span>{{ position.name }}</span>
      <div class="inline-block">
        <span class="sr-only">at </span>
        <a href="{{ position.url }}"
           target="_blank"
           rel="noopener noreferrer"
           class="group hover:underline underline-offset-4">
          {{ position.organization }}<i aria-hidden="true" class="ps-1 ri-arrow-right-up-line font-medium inline-block -translate-x-0.5 transition-transform ease-in-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 motion-reduce:transition-none"></i>
          <span class="sr-only"> (Opens in a new tab)</span>
        </a>
      </div>
    </h4>
    <p class="flex flex-wrap text-xsm font-bold tracking-wider text-neutral-300">
      <span>{{ position.date | upcase }}</span>
      {% if position.type %}
        <span class="px-2">·</span>
        <span>{{ position.type | upcase }}</span>
      {% endif %}
    </p>
    <ul class="my-6 block list-inside list-disc text-sm text-neutral-200">
      {% for item in position.description %}
      <li class="mb-3 md:mb-1 text-pretty leading-relaxed">{{ item.text }}</li>
      {% endfor %}
    </ul>
    <div class="tools text-xsm font-bold tracking-wider text-neutral-300">
      <ul class="flex list-inside flex-wrap">
        {% for tool in position.tools %}
        <li class="me-3 [&:not(:first-child)]:list-disc"> {{ tool.name | upcase }} {% if tool.subtype %} ({{
          tool.subtype | upcase }}) {% endif %} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>