<a href="{{ position.url }}"
   target="_blank"
   rel="noopener noreferrer"
   class="group block card rounded-none md:rounded-xl bg-base-100 border border-base-200 hover:border-neutral-100 mb-5">
  <div class="card-body">
    <h3 class="flex flex-col text-base font-medium text-neutral-100">
      <span>{{ position.name }}</span>
      <div class="inline-block">
        <p>
          {{ position.organization }}
          <i class="ri-arrow-right-up-line inline-block -translate-x-0.5 transition-transform ease-in-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 motion-reduce:transition-none">
             <span class="sr-only">An icon of an arrow pointing to the upper right, representing opening the link in a new tab</span>
          </i>
        </p>
      </div>
    </h3>
    <p class="flex flex-wrap text-xsm font-bold tracking-wider text-neutral-300">
      <span class="pe-2">{{ position.date | upcase }}</span>
    </p>
    <ul class="my-6 block list-inside list-disc text-sm text-neutral-200">
      {% for item in position.description %}
      <li class="mb-3 md:mb-1 text-pretty">{{ item.text }}</li>
      {% endfor %}
    </ul>
    <div class="tools text-xsm font-bold tracking-wider text-neutral-300">
      <ul class="flex list-inside flex-wrap">
        {% for tool in position.tools %}
        <li class="me-3 [&:not(:first-child)]:list-disc"> {{ tool.name | upcase }} {% if tool.subtype %} ({{
          tool.subtype | upcase }}) {% endif %} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</a>