@media (prefers-reduced-motion: no-preference) {
	@keyframes move-background {
		0% {
			background-position: 0% 0%;
		}

		25% {
			background-position: 100% 0%;
		}

		50% {
			background-position: 100% 100%;
		}

		75% {
			background-position: 0% 100%;
		}

		100% {
			background-position: 0% 0%;
		}
	}

	@-webkit-keyframes move-background {
		0% {
			background-position: 0% 0%;
		}

		25% {
			background-position: 100% 0%;
		}

		50% {
			background-position: 100% 100%;
		}

		75% {
			background-position: 0% 100%;
		}

		100% {
			background-position: 0% 0%;
		}
	}

	@-moz-keyframes move-background {
		0% {
			background-position: 0% 0%;
		}

		25% {
			background-position: 100% 0%;
		}

		50% {
			background-position: 100% 100%;
		}

		75% {
			background-position: 0% 100%;
		}

		100% {
			background-position: 0% 0%;
		}
	}
}

@layer components {
	.animate-gradient {
		background-size: 200% 200%;
		animation: move-background 7s ease infinite;
		-moz-animation: move-background 7s ease infinite;
		-webkit-animation: move-background 7s ease infinite;
	}
}