@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/Inter.ttf") format("ttf");
    font-named-instance: "Regular";
  }
}

@layer components {
  .theme-gradient {
    background-color: rgb(125,211,252);
    background-image: -moz-linear-gradient(57deg, rgba(125,211,252,1) 20%, rgba(165,180,252,1) 40%, rgba(216,180,254,1) 50%, rgba(249,168,212,1) 60%, rgba(253,186,116,1) 80%);
    background-image: -webkit-linear-gradient(57deg, rgba(125,211,252,1) 20%, rgba(165,180,252,1) 40%, rgba(216,180,254,1) 50%, rgba(249,168,212,1) 60%, rgba(253,186,116,1) 80%);
    background-image: linear-gradient(57deg, rgba(125,211,252,1) 20%, rgba(165,180,252,1) 40%, rgba(216,180,254,1) 50%, rgba(249,168,212,1) 60%, rgba(253,186,116,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7dd3fc",endColorstr="#fdba74",GradientType=1);
  }
  
  .btn {
    animation: none;
  }

  .work-article-body {
    h2 {
      @apply font-semibold text-3xl py-5;
    }

    p {
      @apply my-5;
    }
  }
}