@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/Inter.ttf") format("ttf");
    font-named-instance: "Regular";
  }
}

@layer components {
  .theme-gradient {
    background-color: rgb(125,211,252);
    background-image: -moz-linear-gradient(57deg, rgba(125,211,252,1) 20%, rgba(165,180,252,1) 40%, rgba(216,180,254,1) 50%, rgba(249,168,212,1) 60%, rgba(253,186,116,1) 80%);
    background-image: -webkit-linear-gradient(57deg, rgba(125,211,252,1) 20%, rgba(165,180,252,1) 40%, rgba(216,180,254,1) 50%, rgba(249,168,212,1) 60%, rgba(253,186,116,1) 80%);
    background-image: linear-gradient(57deg, rgba(125,211,252,1) 20%, rgba(165,180,252,1) 40%, rgba(216,180,254,1) 50%, rgba(249,168,212,1) 60%, rgba(253,186,116,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7dd3fc",endColorstr="#fdba74",GradientType=1);
  }

  .bg-icons {
    -webkit-mask-image: url("../images/icons.svg");
    mask-image: url("../images/icons.svg");
    @apply absolute top-0 -z-50 h-full w-full bg-base-200 bg-contain bg-right bg-no-repeat;
  }

  /* parent element must have a non-static position (ex. position: relative) for this to work */
  .circle-component {
    @apply absolute z-10 h-[1.2rem] w-[1.2rem] rounded-full border-2 bg-base-100;
  }

  /* use the classes below together with .circle-component */
  .circle-upper-left {
    @apply top-0 translate-x-[-11px] translate-y-[-1px];
  }

  .circle-bottom-left {
    @apply bottom-0 translate-x-[-11px] translate-y-[1px];
  }

  .circle-upper-right {
    @apply top-0 translate-x-[12px] translate-y-[-1px];
  }

  .btn {
    animation: none;
  }
}