@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/Inter.ttf") format("ttf");
    font-named-instance: "Regular";
  }
}

@layer components {
  .cool-gradient {
    background-color: #38bdf8;
    background-image: radial-gradient(at 99% 98%, #818cf8 0px, transparent 50%), radial-gradient(at 42% 41%, #67e8f9 0px, transparent 50%),
      radial-gradient(at 60% 44%, #2dd4bf 0px, transparent 50%), radial-gradient(at 99% 98%, #818cf8 0px, transparent 50%),
      radial-gradient(at 42% 41%, #38bdf8 0px, transparent 50%), radial-gradient(at 60% 44%, #2dd4bf 0px, transparent 50%);

    background-size: 200% 200%;
    animation: move-background 7s ease infinite;
    -moz-animation: move-background 7s ease infinite;
    -webkit-animation: move-background 7s ease infinite;
  }

  .warm-gradient {
    background-color: hsla(266, 80%, 83%, 1);
    background-image: radial-gradient(at 30% 11%, hsla(32, 100%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 68% 43%, hsla(310, 61%, 76%, 1) 0px, transparent 50%),
      radial-gradient(at 82% 63%, hsla(266, 80%, 83%, 1) 0px, transparent 50%),
      radial-gradient(at 26% 65%, hsla(16, 100%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 42% 72%, hsla(310, 61%, 76%, 1) 0px, transparent 50%),
      radial-gradient(at 60% 10%, hsla(17, 100%, 77%, 1) 0px, transparent 50%);

    background-size: 200% 200%;
    animation: move-background 7s ease infinite;
    -moz-animation: move-background 7s ease infinite;
    -webkit-animation: move-background 7s ease infinite;
  }

  [data-theme="light"] .theme-gradient {
    @apply cool-gradient;
  }

  [data-theme="dark"] .theme-gradient {
    @apply warm-gradient;
  }

  /* parent element must have a non-static position (ex. position: relative) for this to work */
  .award-shadow::after {
    @apply theme-gradient;
    @apply absolute left-0 right-0 top-2 z-[-1] h-full w-full scale-x-75 blur-xl transition-opacity content-[''];
  }

  /* parent element must have a non-static position (ex. position: relative) for this to work */
  .circle-component {
    @apply absolute z-40 h-[1.2rem] w-[1.2rem] rounded-full border-2 bg-base-100;
  }

  /* use the classes below together with .circle-component */
  .circle-upper-left {
    @apply top-0 translate-x-[-11px] translate-y-[-1px];
  }

  .circle-bottom-left {
    @apply bottom-0 translate-x-[-11px] translate-y-[1px];
  }

  .circle-upper-right {
    @apply top-0 translate-x-[12px] translate-y-[-1px];
  }

  .bg-icons {
    -webkit-mask-image: url("http://localhost:4000/assets/images/icons.svg");
    mask-image: url("http://localhost:4000/assets/images/icons.svg");
    @apply absolute top-0 -z-50 h-full w-full bg-base-200 bg-contain bg-right bg-no-repeat;
  }
}