@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
    .light-gradient {
        background-color: hsla(266, 80%, 83%, 1);
        background-image:
            radial-gradient(at 30% 11%, hsla(32, 100%, 77%, 1) 0px, transparent 50%),
            radial-gradient(at 68% 43%, hsla(310, 61%, 76%, 1) 0px, transparent 50%),
            radial-gradient(at 82% 63%, hsla(266, 80%, 83%, 1) 0px, transparent 50%),
            radial-gradient(at 26% 65%, hsla(16, 100%, 77%, 1) 0px, transparent 50%),
            radial-gradient(at 42% 72%, hsla(310, 61%, 76%, 1) 0px, transparent 50%),
            radial-gradient(at 60% 10%, hsla(17, 100%, 77%, 1) 0px, transparent 50%);

        background-size: 400% 400%;
        animation: move-background 7s ease infinite;
        -webkit-animation: move-background 7s ease infinite;
    }

    @keyframes move-background {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @-webkit-keyframes move-background {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}