@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
    .light-gradient {
        background-color: hsla(266, 80%, 83%, 1);
        background-image:
            radial-gradient(at 30% 11%, hsla(32, 100%, 77%, 1) 0px, transparent 50%),
            radial-gradient(at 68% 43%, hsla(310, 61%, 76%, 1) 0px, transparent 50%),
            radial-gradient(at 82% 63%, hsla(266, 80%, 83%, 1) 0px, transparent 50%),
            radial-gradient(at 26% 65%, hsla(16, 100%, 77%, 1) 0px, transparent 50%),
            radial-gradient(at 42% 72%, hsla(310, 61%, 76%, 1) 0px, transparent 50%),
            radial-gradient(at 60% 10%, hsla(17, 100%, 77%, 1) 0px, transparent 50%);

        background-size: 400% 400%;
        animation: move-background 7s ease infinite;
        -webkit-animation: move-background 7s ease infinite;
    }

    @keyframes move-background {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @-webkit-keyframes move-background {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

/* parent element must have a non-static position (ex. position: relative) for this to work */
.circle-upper-left {
    width: 1.2rem;      /* set slightly higher than Tailwind's default for class="text-base" */
    height: 1.2rem;     /* set slightly higher than Tailwind's default for class="text-base" */
    z-index: 40;

    position: absolute;
    top: 0;
    transform: translate(-11px, -1px);
    -ms-transform: translate(-11px, -1px); /* IE 9 */
    -webkit-transform: translate(-11px, -1px); /* Safari */

    border-width: 2px;
    border-radius: 100%;
    background-color: #0D1017; /* value from custom Tailwind color musubi-600 in tailwind.config.js */
}

/* parent element must have a non-static position (ex. position: relative) for this to work */
.circle-bottom-left {
    width: 1.2rem;      /* set slightly higher than Tailwind's default for class="text-base" */
    height: 1.2rem;     /* set slightly higher than Tailwind's default for class="text-base" */
    z-index: 40;

    position: absolute;
    bottom: 0;

    border-width: 2px;
    border-radius: 100%;
    background-color: #0D1017; /* value from custom Tailwind color musubi-600 in tailwind.config.js */
}