<article class="w-full h-full bg-base-100/70 backdrop-blur-sm border border-base-200 p-12 sm:p-20 flex flex-col justify-end">
    <div class="mt-32 text-4xl">Logotype</div>
    <div class="flex flex-col sm:flex-row sm:divide-x divide-base-200 sm:items-end mt-12 gap-5">
        <div class="basis-1/2">
            <h3 class="font-semibold text-2xl mb-3">Ase Morales</h3>
            <p class="text-neutral-300">Full-stack Developer &<br>Backend Software Engineer</p>
        </div>
        <div class="basis-1/2 sm:ps-7">
            <p class="mb-3">asemorales.tech@gmail.com</p>
            <div class="flex space-x-3">
                {% assign contact = site.data.contact %} {% for social-icon in contact.social-icons %} {% include
                components/social-icon.html %} {% endfor %}
            </div>
        </div>
    </div>
</article>