{% assign personal = site.data.personal %}
<article class="rounded-none md:rounded-xl min-h-[500px] bg-base-100/50 backdrop-blur-sm border border-base-200 p-12 sm:p-20 flex flex-col justify-center -z-10">
    <div class="text-4xl">{% include svg/logo.svg classes="fill-neutral-200 h-16 w-auto" %}</div>
    <div class="flex flex-col sm:flex-row sm:divide-x divide-base-300 sm:items-end mt-12 gap-7">
        <div class="basis-1/2">
            <h3 class="font-semibold text-2xl mb-3">{{ personal.fullname }}</h3>
            <p class="text-neutral-200 text-pretty">{{ personal.position }}</p>
        </div>
        <div class="basis-1/2 sm:ps-7">
            <a
            href="mailto:{{ site.email }}"
            target="_blank"
            rel="noopener noreferrer"
            class="text-neutral-200 hover:underline hover:underline-offset-4 block mb-1.5">{{ site.email }}</a>
            <div class="flex space-x-3">
                {% assign contact = site.data.contact %} {% for social-icon in contact.social-icons %} {% include
                components/social-icon.html %} {% endfor %}
            </div>
        </div>
    </div>
</article>