<div class="relative md:px-20">
  <div class="flex flex-col max-w-screen-lg">
    <h2 class="pt-20 mb-7 px-7 md:px-0 font-semibold text-3xl md:text-5xl text-pretty z-10">Create your next
      idea<br>with me</h2>
    <div class="w-full max-w-screen-md self-end">
      {% include sections/call-to-action/business-card.html %}
    </div>
    <div class="pt-20 px-7 md:px-0 lg:max-w-screen-sm">
      <div class="avatar indicator mb-10">
        <span class="indicator-item badge badge-secondary">typing…</span>
        <div class="size-20 rounded-full">
          <img alt="Tailwind CSS examples"
               src="https://placehold.co/100x100/000000/FFF" />
        </div>
      </div>
      <div class="leading-loose">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
        <br>
        <br>
        Irish Danielle "Ase" Morales
      </div>
    </div>
  </div>
  <div id="call-to-action-deco"
       aria-hidden="true"
       class="w-full h-full absolute top-0 right-0 flex overflow-hidden pointer-events-none">
    {% include svg/grid.svg classes="absolute -z-50 top-0 -left-20" %}
    {% include svg/aurora.svg classes="absolute -z-50 -top-96 left-0" %}
  </div>
</div>