<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hi, I'm Ase and this is my portfolio! I'm a web developer, mobile developer, ML/AI researcher, and all-around nerd.">
        <meta name="keywords" content="portfolio, freelancer, for hire, open to work, web developer, mobile developer, machine learning, AI, illustrator, photographer, creative">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href=""> <!-- TODO: CSS Reset -->
        <link rel="stylesheet" href=""> <!-- TODO: Custom stylesheet -->
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
    </body>
</html>