<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content={{ site.description }}>
        <meta name="keywords" content={{ site.keywords }}>
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="assets/compiled.css">
        <script type="text/javascript" src="../assets/js/index.js"></script>
        {% seo %}
    </head>
    <body class="dark:bg-musubi-600 dark:text-musubi-100 divide-y-2 dark:divide-musubi-500">
        {% include navigation.html %}
        {{ content }}
    </body>
</html>