---
layout: default
---

{% include sections/navigation/navigation.html %}
<article class="mx-auto max-w-screen-2xl">
    <main class="my-40 mx-7">
        <div class="mx-auto max-w-screen-md leading-loose">
            <h1 class="mb-12 text-4xl font-semibold text-base-content sm:text-6xl">{{ page.title }}</h1>
            <p class="mb-10">{{ page.summary }}</p>
            <div class="mb-10">
                <table class="table-fixed w-full">
                    <tbody>
                        {% if page.role %}
                        <tr class="flex flex-col md:flex-row py-3 border-t border-base-200">
                            <th class="text-left w-1/2">Role</td>
                            <td>{{ page.role }}</td>
                        </tr>
                        {% endif %}
                        {% if page.tools %}
                        <tr class="flex flex-col md:flex-row py-3 border-t border-base-200">
                            <th class="text-left w-1/2">Tools</td>
                            <td>{{ page.tools }}</td>
                        </tr>
                        {% endif %}
                        {% if page.industry %}
                        <tr class="flex flex-col md:flex-row py-3 border-t border-base-200">
                            <th class="text-left w-1/2">Industry</td>
                            <td>{{ page.industry }}</td>
                        </tr>
                        {% endif %}
                        {% if page.timescale %}
                        <tr class="flex flex-col md:flex-row py-3 border-y border-base-200">
                            <th class="text-left w-1/2">Timescale</th>
                            <td>{{ page.timescale }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% if page.types %}
            <div class="mb-12">
                <ul class="flex gap-5 list-inside flex-wrap text-xsm text-neutral-300">
                    {% for type in page.types %}
                        <li class="px-5 py-5 badge badge-neutral">{{ type }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if page.disclaimer %}
            <div role="alert" class="alert text-left text-sm leading-loose mb-12">
                <span><i class="ri-information-line text-info size-6 me-2"></i>{{ page.disclaimer }}</span>
            </div>
            {% endif %}
            <div class="work-article-body">{{ content }}</div>
        </div>
    </main>
    {% include sections/footer.html %}
</article>