---
layout: default
---

{% include sections/navigation/navigation.html %}
<article class="mx-auto max-w-screen-2xl">
    <main class="my-40 mx-7">
        <div class="mx-auto max-w-screen-md leading-loose">
            <h1 class="mb-12 text-4xl font-semibold text-base-content sm:text-6xl">{{ page.title }}</h1>
            <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id est laborum.</p>
            <div class="mb-10">
                <table class="table-fixed border-collapse w-full">
                    <tbody>
                        <tr class="flex flex-col md:flex-row py-3 border-y border-base-200">
                            <th class="text-left w-1/2">Tools</td>
                            <td>Laravel, React, blabla</td>
                        </tr>
                        <tr class="flex flex-col md:flex-row py-3 border-y border-base-200">
                            <th class="text-left w-1/2">Timescale</th>
                            <td>2 weeks</td>
                        </tr>
                        <tr class="flex flex-col md:flex-row py-3 border-y border-base-200">
                            <th class="text-left w-1/2">Tools</th>
                            <td>Laravel, React, blabla</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-12">
                <ul class="flex gap-5 list-inside flex-wrap text-xsm text-neutral-300">
                    <li class="px-5 py-5 badge badge-outline">Web App Development</li>
                    <li class="px-5 py-5 badge badge-outline">Mobile App Development</li>
                    <li class="px-5 py-5 badge badge-outline">UI/UX Design</li>
                    <li class="px-5 py-5 badge badge-outline">Search Engine Optimization</li>
                    <li class="px-5 py-5 badge badge-outline">Content Management System (CMS)</li>
                    <li class="px-5 py-5 badge badge-outline">Software Architecture</li>
                </ul>
            </div>
            {{ content }}
        </div>
    </main>
    {% include sections/footer.html %}
</article>